# Configuration stuff
/application/config/development
/application/sessions
/ipconfig.php
/uploads

# Dependencies
/node_modules
/vendor

# Other files
/.htaccess
.idea
.sass-cache
adminer.php
/nbproject
/.php_cs.cache
/doc
.history
application/language/German/ip_lang.php
